*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #1f2937;
  color: white;

  padding: 36px 150px;
}

.title {
  font-size: 36px;
}

.center {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgb(255, 255, 255);
}

.info {
  display: flex;
  justify-content: center;

  margin: 30px 50px;
  padding: 0 150px;

  font-size: 20px;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 12px;

  padding: 0 50px 50px 50px;
}

.project {
  display: flex;
  align-items: center;
  gap: 15px;

  height: 150px;

  border: 1px solid #1f2937;
  border-radius: 12px;

  background-color: #e5e7eb;
}

.name {
  flex: 1;

  display: flex;
  justify-content: center;

  font-size: 20px;
}

.description {
  flex: 1;
  
  display: flex;
  justify-content: center;
}

.what-i-learned {
  flex: 3;
  
  display: flex;
  justify-content: center;
}

.link {
  flex: 1;
  align-self: stretch;

  display: flex;
  align-items: stretch;
  justify-content: center;
}

.link-img {
  flex: 1;

  width: 100%;
  height: 100%;

  border-radius: 10px;
}

.img-text {
  position: absolute;

  padding: 3px;

  background-color: #1f2937;
  color: white;
}

.link-button {
  flex: 1;

  border: 1px solid black;
  border-radius: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #1f2937;
  color: white;

  padding: 36px 150px;
}

.linkedin 
, .github{
  color: rgb(146, 140, 255);
}